<div class="booking-card-container shadow-lg border rounded p-4">
    <h3 class="fw-bold text-primary mb-3">
      Create a new listing
    </h3>
    <%= simple_form_for @clothing, html: { multipart: true } do |f| %>
      <div class="form-group">
        <%= f.input :name, placeholder: 'Name' %>
      </div>

      <div class="form-group">
        <%= f.input :price %>
      </div>

      <div class="form-group">
        <%= f.input :size, as: :select, collection: ["XXS", "XS", "S", "M", "L", "XL", "XXL"], prompt: "Select a size" %>
      </div>

      <div class="form-group">
        <%= f.input :address %>
      </div>

      <div class="form-group">
        <%= f.input :photo, as: :file, label: "Upload an Image" %>
      </div>

      <div class="form-group">
        <%= f.label :country, "Select Country", class: "d-block" %>
        <%= f.country_select :country,
        {},
        { class: "form-control", data: { controller: "tom-select", tom_select_options_value: "{}" } } %>
      </div>

      <div class="form-group pt-3">
        <%= f.input :color %>
      </div>


      <div class="form-group">
        <%= f.input :description %>
      </div>




      <div class="form-group">
        <%= f.submit 'Make listing', class: 'btn btn-primary' %>
      </div>
    <% end %>
</div>
