<div class="booking-card-container shadow-lg border rounded p-4">
    <h3 class="fw-bold text-primary mb-3">
      Create a new listing
    </h3>
    <%= simple_form_for @clothing, html: { multipart: true } do |f| %>
      <div class="form-group">
        <%= f.input :name, placeholder: 'Product name', input_html: { style: "font-style: italic; color: #999;" } %>
      </div>

      <div class="form-group">
        <%= f.input :price, input_html: { min: 0, step: 100 }, placeholder: '¥...' %>
      </div>

      <div class="form-group">
        <%= f.input :size, as: :select, collection: ["XXS", "XS", "S", "M", "L", "XL", "XXL"], prompt: "Select a size" %>
      </div>

      <div class="form-group">
        <%= f.input :address, placeholder: 'Store address', input_html: { style: "font-style: italic; color: #999;" } %>
      </div>

      <div class="form-group">
        <%= f.input :photo, as: :file, label: "Upload an Image" %>
      </div>

      <%# <div class="form-group"> %>
        <%#= f.input :photos, as: :file, label: "Upload Image(s)", input_html: { multiple: true } %>
      <%# </div> %>

      <div class="form-group">
        <%= f.label :country, "Select Country", class: "d-block" %>
        <%= f.country_select :country,
        {},
        { class: "form-control", data: { controller: "tom-select", tom_select_options_value: "{}" } } %>
      </div>

      <div class="form-group pt-3">
        <%= f.input :color, placeholder: 'Add color', input_html: { style: "font-style: italic; color: #999;" } %>
      </div>


      <div class="form-group">
        <%= f.input :description, placeholder: 'Describe your item here', input_html: { style: "font-style: italic; color: #999;" } %>
      </div>




      <div class="form-group">
        <%= f.submit 'Make listing', class: 'btn btn-primary' %>
      </div>
    <% end %>
</div>
