<h1>Traditional Clothes for Rent</h1>

<div class="clothing-list">
  <% @clothings.each do |clothing| %>
    <div class="clothing-item">
      <% if clothing.photo.attached? %>
        <%= cl_image_tag clothing.photo.key, alt: "" %>
      <% else %>
        <%= cl_image_tag clothing.photo.key, alt: "", size: "300x300" %>
      <% end %>

      <h2><%= clothing.name %></h2>
      <p>Size: <%= clothing.size %></p>
      <p>Price: <%= number_to_currency(clothing.price, unit: "¥", delimiter: ",") %> per day</p>

      <%= link_to "View Details", clothing_path(clothing), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
