<div class="container">
  <%= link_to root_path do %>
    <i class="mt-4 fa-solid fa-chevron-left text-black"></i>
  <% end %>

  <%= render "shared/bookings_filter", path: owner_bookings_path %>

  <h1 class="mt-4">My clothes</h1>
  <% @bookings.each do |booking| %>
    <div class="mt-4 card-product">
      <%= cl_image_tag booking.clothing.photo.key, alt: "" %>
      <div class="card-product-infos">
        <h2><%= booking.clothing.name %></h2>

        <%= render "status", status: booking.status %>

        <% if booking.start_date && booking.end_date %>
          <p><%= booking.start_date.strftime("%A, %b %d") %> to <%= booking.end_date.strftime("%A, %b %d") %></p>
        <% end %>

        <% if booking.status == "pending" %>
          <div class="d-flex">
            <%= form_with(model: booking, url: owner_booking_path(booking), method: :patch, local: true) do |f| %>
              <div class="mt-2">
                <%= f.hidden_field :status, value: 'accepted' %>
                <%= f.submit "Accept", class: 'btn btn-sm btn-success me-2' %>
              </div>
            <% end %>
            <%= form_with(model: booking, url: owner_booking_path(booking), method: :patch, local: true) do |f| %>
              <div class="mt-2">
                <%= f.hidden_field :status, value: 'rejected' %>
                <%= f.submit "Reject", class: 'btn btn-danger btn-sm' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
