<div class="container">
  <%= link_to root_path do %>
    <i class="mt-4 fa-solid fa-chevron-left text-black"></i>
  <% end %>
  <h1 class="mt-4">All bookings for <%= current_user.email %></h1>
  <% @bookings.each do |booking| %>
    <div class="mt-4 card-product">
      <%= cl_image_tag booking.clothing.photo.key, alt: "" %>
      <div class="card-product-infos">
        <h2><%= booking.clothing.name %></h2>
        <div><%= booking.status %></div>
        <p><%= booking.start_date.strftime("%A, %b %d") %> to <%= booking.end_date.strftime("%A, %b %d") %></p>
      </div>
    </div>
  <% end %>
</div>
