<div class="banner-main" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner.jpg" %>);">
  <div class="container d-flex flex-column justify-content-center align-items-center text-center">
    <h1>Heritage in Every Thread – Experience Culture, One Outfit at a Time</h1>
<p class="banner-subtitle"><em>Rent, Wear, and Embrace the Stories Woven into Every Garment.</em></p>
  </div>
</div>


<div class="container">
  <h1 class="mt-4">Listings</h1>
  <div class="cards">
    <% @clothings.each do |clothing| %>
          <div class="card-trip">
            <%= link_to clothing_path(clothing), class: "card-trip-link" do %>
            <% if clothing.photo.attached? %>
             <%= cl_image_tag clothing.photo.key, alt: "Image of #{clothing.name}" %>
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= clothing.name %></h2>
                <%= link_to clothings_path(user: clothing.user.id) do %>
                  <p class="fs-6">
                    <i class="fa-solid fa-user"></i>
                    <%= clothing.user.email %>
                  </p>
                <% end %>
                <p><%= clothing.description %></p>
                <p><%= clothing.country %></p>
              </div>
              <h2 class="card-trip-pricing">
              ¥<%= clothing.price.round(-1) %><span class="per-day">/ day</span>
             </h2></div>
          </div>
      <% end %>
      </%= link_to %>
    <% end %>
  </div>
</div>
